*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0em;
	outline: 0;
    background-color: #498EAF;
    
}

.ui-dialog-titlebar { display: none; }

.validateTips { border: 1px solid transparent; padding: 0.3em; }
body{
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;

}

.loginframe{
    background-color: #498EAF;
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.loginframe > *{
    color: #ffffff;
}

.search{
    width: 500px;
    float: left; 
    padding-left: 150px;
    padding-top: 10px;
    display: flex;
    margin-left: 10%;
}

.logo{
    position: absolute;
    width: 150px;
    height: 45px;
}
.search-btn{
    width: 36px;
    height: 32px;
    background-color: #3D1101;
    color:#efe9e7;
    outline:none;
    border: 2px solid #3D1101;
    cursor: pointer; 
    position: absolute;
    margin-top: 4px;
    left: 45%; 
    border-radius: 5px;
   }
.search-bar {
    width: 500px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid #3d1101;
    background-color: #f0f2f5;
  }
.search-btn2{
    width: 36px;
    height: 32px;
    background-color: #3D1101;
    color:#efe9e7;
    outline:none;
    border: 2px solid #3D1101;
    cursor: pointer; 
    position: absolute;
    margin-top: 4px;
    left: 50%; 
    border-radius: 5px;
   }
.search-bar2{
    width: 500px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid #3d1101;
    background-color: #f0f2f5;
  }
.btn{
    width: 300px;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 350px;
    margin-top: 5px;
}
.notice{
    margin-right: 20%;
    width: 10px;
    height: 10px;
}
.message{
    margin-right: 20%;
}
.personal{
    margin-right: 20%;
}
.login{
}
#header-bar{
    background-color: #498EAF;
    height: 50px;
    position: fixed;
    width: 100%;
    display: flex;
}

#header-bar button{
    position: absolute;
    top: 10%;
    right: 10%;
}

.cover{
    background-color: #498EAF;
    height: 50px;
    width: 100%;
}

.item-item{
    cursor: pointer;
    height: 50px;
    background-color: #ffffff;
    border: 3px;
    border-radius: 2px;
    border-color: brown;
    border-style: solid;
}

.item-item:hover{
    color: blueviolet;
}

#item-container{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#item-append{
    text-align:right;
    position: fixed;
    top: 85%;
    right: 5%;
}


#item-append input:hover{
    filter: grayscale(50%);
}

.item-content{
    width: 300px;
    height: 200px;
    font-size: 15px;
    color: black;
}

#stuff_img{
    width: 50px;
    height: 50px;
}

#post-content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upload{
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

#upload input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

#upload img{
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    pointer-events:none;
}

.sharePanel { display: none;overflow: hidden; position: fixed; border:3px; border-color:black; top: 50px; width: 700px; right: 0; height: 70%; z-index: 99999; margin: 0;  background-color: rgb(139, 98, 48); color: black; }
.shareFade { display: none; color: black; border:3px;padding: 0px; overflow: hidden; }
.shareClose { display: block;width: 100px; height: 50px; line-height: 50px; text-align: center; cursor: pointer; background: aquamarine  }
.shareClose:hover { filter: grayscale(50%);}
.shareFade a.ico { display: block; width: 50px; height: 50px; line-height: 50px; text-align: center; color: #fff; font-size: 22px; }
.inputGroup {
    display: flex;
  }

/*.timepicker {
    height: 30px;
    margin-right: 50px;
    outline: none;
    background-color: #121528;
    border: 1px solid #00c768;
    border-radius: 5px;
    color: #121528;
    padding-left: 12px;
  }*/
